
:root {
    --main-color: #22BAA0;
    --color-dark: #34425A;
    --text-grey: #B0B0B0;
}


* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
    font-family: 'Merriweather', sans-serif;
}

.dashboard {
    display: flex;
    gap: 20px;
}

.dashboard--content {
    background: #dde6ed;
    flex: 1;
    display: flex;
    gap: 3.5rem;
    justify-content: space-between;
    width: calc(100% - 200px);
    /* height: 150vh; */
    transition: margin-left 300ms;
    margin-left: 200px;
}

#menu-toggle {
    display: none;
}


.main-content {
    margin-left: 165px;
}




@media only screen and (max-width: 1200px) {
    .analytics {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 768px) {
    .analytics {
        grid-template-columns: 100%;
    }
    
    .sidebar {
        left: -200px;
        z-index: 90;
    }
    
    header {
        left: 0;
        width: 100%;
    }
    
    .dashboard--content {
        margin-left: 0;
        width: 100%;
    }
    
    #menu-toggle:checked ~ .sidebar {
        left: 0;
    }
    
    #menu-toggle:checked ~ .sidebar {
        width: 165px;
    }

    #menu-toggle:checked ~ .sidebar .side-header span {
        display: inline-block;
    }

    #menu-toggle:checked ~ .sidebar .profile,
    #menu-toggle:checked ~ .sidebar .side-menu a small {
        display: block;
    }

    #menu-toggle:checked ~ .sidebar .side-menu a span {
        font-size: 1.7rem;
    }
    
    #menu-toggle:checked ~ .dashboard--content header {
        left: 0px;
    }
    
    table {
        width: 900px;
    }
}
